# Task 1: Create an account and getting familiar with MongoDB

## 1.1 - Setup an MongoDB ATLAS account
Follow the instructions from here: https://docs.google.com/document/d/1Puyz0RLfEqiCRl-ZaKdtKloEqVsN8GKdMuraKn1ZdoI/edit?usp=sharing 


## 1.2 - MongoDB concepts compared to Relational DB concepts
In MongoDB, a **database** is the container for collections. A single **collection**  is the container for documents. **Documents** are usually key/value pairs but it can include arrays and subdocuments. It can support different data types. More information here: https://docs.mongodb.com/manual/reference/bson-types/. 

| Relational DB  | MongoDB  |
|---|---|
|  Database | Database  |  
| Tables  |  Collections |
| Rows  | Documents  |
| Index  |  Index |
 	


## 1.3 Document structure
You can find more information about MongoDB document structure https://docs.mongodb.com/manual/core/document/. If you are not familiar with JSON and BSON specifications, you might wish to read about them here:
- JSON: https://www.json.org/json-en.html
- BSON: http://bsonspec.org

# Task 2: Query a dataset

We need `pymongo`, `dnspython` and `python==3.6`

In [40]:
# install missing library
!pip install pymongo
!pip install dnspython

Requirement already satisfied: pymongo in c:\users\tanpi\anaconda3\envs\daps\lib\site-packages (3.12.1)
Requirement already satisfied: dnspython in c:\users\tanpi\anaconda3\envs\daps\lib\site-packages (2.1.0)

If you use Google's collab, you now have to select `Runtime -> Restart runtime` or `Ctrl+M`.

In [41]:
#@title Imports
import pymongo
from pprint import pprint
from random import randint

## 2.1 - Establish a connection to MongoDB

- **_[TO DO]_** : Connect to MongoDB using the MongoClient class from PyMongo library.

In [42]:
###########################
# Task: 
#   use MongoClient class to connect to MongoDB
#
###########################

### TO DO
client = pymongo.MongoClient("mongodb+srv://tanpinray:pooh123@daps2021.2gj8f.mongodb.net/daps2021?retryWrites=true&w=majority")
db = client.admin


#########

Let's check whether everything works properly by retrieving the server status and printing the results, as follows:

In [43]:
serverStatusResult=db.command("serverStatus")
pprint(serverStatusResult)

{'$clusterTime': {'clusterTime': Timestamp(1635440434, 1),
                  'signature': {'hash': b"\\\xe5\x14{b\xf9\xdf'Q\x05\xb6T"
                                        b'\x1e\xed`\xe1g\x16\x0fi',
                                'keyId': 6968822331703558145}},
 'asserts': {'msg': 0, 'regular': 0, 'rollovers': 0, 'user': 0, 'warning': 0},
 'atlasVersion': {'gitVersion': '65acfa15a9334a2fef071a106ccab4f5c565bca3',
                  'version': '20211005.0.0.1633092820'},
 'connections': {'available': 492, 'current': 8, 'totalCreated': 26},
 'extra_info': {'note': 'fields vary by platform', 'page_faults': 0},
 'host': 'daps2021-shard-00-01.2gj8f.mongodb.net:27017',
 'localTime': datetime.datetime(2021, 10, 28, 17, 0, 34, 173000),
 'mem': {'bits': 64,
         'mapped': 0,
         'mappedWithJournal': 0,
         'resident': 0,
         'supported': True,
         'virtual': 0},
 'metrics': {'aggStageCounters': {'search': 0, 'searchBeta': 0},
             'atlas': {'connectionPool': {'totalCreated': 11990}}},
 'network': {'bytesIn': 319226542, 'bytesOut': 1325564, 'numRequests': 1099},
 'ok': 1.0,
 'opLatencies': {'commands': {'latency': 1100815021, 'ops': 644},
                 'reads': {'latency': 6777, 'ops': 7},
                 'writes': {'latency': 374124241, 'ops': 442}},
 'opcounters': {'command': 650,
                'delete': 1,
                'getmore': 0,
                'insert': 424115,
                'query': 7,
                'update': 1},
 'opcountersRepl': {'command': 0,
                    'delete': 0,
                    'getmore': 0,
                    'insert': 0,
                    'query': 0,
                    'update': 0},
 'operationTime': Timestamp(1635440434, 1),
 'pid': 317589,
 'process': 'mongod',
 'repl': {'electionId': ObjectId('7fffffff0000000000000044'),
          'hosts': ['daps2021-shard-00-00.2gj8f.mongodb.net:27017',
                    'daps2021-shard-00-01.2gj8f.mongodb.net:27017',
                    'daps2021-shard-00-02.2gj8f.mongodb.net:27017'],
          'ismaster': True,
          'lastWrite': {'lastWriteDate': datetime.datetime(2021, 10, 28, 17, 0, 34),
                        'majorityOpTime': {'t': 68,
                                           'ts': Timestamp(1635440434, 1)},
                        'majorityWriteDate': datetime.datetime(2021, 10, 28, 17, 0, 34),
                        'opTime': {'t': 68, 'ts': Timestamp(1635440434, 1)}},
          'me': 'daps2021-shard-00-01.2gj8f.mongodb.net:27017',
          'primary': 'daps2021-shard-00-01.2gj8f.mongodb.net:27017',
          'rbid': 1,
          'secondary': False,
          'setName': 'atlas-gv56ta-shard-0',
          'setVersion': 6,
          'tags': {'nodeType': 'ELECTABLE',
                   'provider': 'AWS',
                   'region': 'EU_WEST_1',
                   'workloadType': 'OPERATIONAL'},
          'topologyVersion': {'counter': 6,
                              'processId': ObjectId('616ecdd5ab301e5068d65b2f')}},
 'storageEngine': {'backupCursorOpen': False,
                   'dropPendingIdents': 2,
                   'name': 'wiredTiger',
                   'oldestRequiredTimestampForCrashRecovery': Timestamp(1635440374, 6),
                   'persistent': True,
                   'readOnly': False,
                   'supportsCommittedReads': True,
                   'supportsPendingDrops': True,
                   'supportsSnapshotReadConcern': True,
                   'supportsTwoPhaseIndexBuild': True},
 'uptime': 788829.0,
 'uptimeEstimate': 788828,
 'uptimeMillis': 788828599,
 'version': '4.4.10'}


## 2.2 - Create sample data

Let's create our synthetic dataset with students, their mark (scaled from 1-10) and the reviewer on DAPS 2020.

In [44]:
names = ['Anna','Maria','George', 'Mike', 'Alex','Paul','Nick', 'Andrew','Ellie', 'Natalia']
surname = ['Adams', 'Baker', 'Palmer', 'Peterson', 'Roberts', 'Turner', 'Armstrong']
reviewer = ['Laura','Miguel']
student=[]
for i in range(1, 30):
    student.append({
        'name' : names[randint(0, (len(names)-1))] + ' '  + surname[randint(0, (len(surname)-1))],
        'DAPS_assignment' : randint(1, 10),
        'reviewer':  reviewer[randint(0, (len(reviewer)-1))] })
print(student)

[{'name': 'Nick Roberts', 'DAPS_assignment': 7, 'reviewer': 'Miguel'}, {'name': 'Alex Armstrong', 'DAPS_assignment': 7, 'reviewer': 'Miguel'}, {'name': 'Andrew Turner', 'DAPS_assignment': 1, 'reviewer': 'Laura'}, {'name': 'Mike Palmer', 'DAPS_assignment': 8, 'reviewer': 'Miguel'}, {'name': 'Maria Palmer', 'DAPS_assignment': 9, 'reviewer': 'Laura'}, {'name': 'Maria Armstrong', 'DAPS_assignment': 3, 'reviewer': 'Miguel'}, {'name': 'Maria Baker', 'DAPS_assignment': 8, 'reviewer': 'Miguel'}, {'name': 'George Palmer', 'DAPS_assignment': 6, 'reviewer': 'Miguel'}, {'name': 'Anna Palmer', 'DAPS_assignment': 7, 'reviewer': 'Laura'}, {'name': 'Maria Peterson', 'DAPS_assignment': 7, 'reviewer': 'Miguel'}, {'name': 'Nick Roberts', 'DAPS_assignment': 4, 'reviewer': 'Laura'}, {'name': 'Natalia Peterson', 'DAPS_assignment': 10, 'reviewer': 'Miguel'}, {'name': 'Anna Adams', 'DAPS_assignment': 10, 'reviewer': 'Miguel'}, {'name': 'Nick Turner', 'DAPS_assignment': 4, 'reviewer': 'Miguel'}, {'name': 'Paul Peterson', 'DAPS_assignment': 8, 'reviewer': 'Miguel'}, {'name': 'Anna Adams', 'DAPS_assignment': 3, 'reviewer': 'Laura'}, {'name': 'Mike Adams', 'DAPS_assignment': 2, 'reviewer': 'Laura'}, {'name': 'Nick Turner', 'DAPS_assignment': 7, 'reviewer': 'Laura'}, {'name': 'Paul Palmer', 'DAPS_assignment': 4, 'reviewer': 'Miguel'}, {'name': 'Alex Armstrong', 'DAPS_assignment': 3, 'reviewer': 'Laura'}, {'name': 'Paul Palmer', 'DAPS_assignment': 6, 'reviewer': 'Laura'}, {'name': 'George Baker', 'DAPS_assignment': 7, 'reviewer': 'Miguel'}, {'name': 'Ellie Palmer', 'DAPS_assignment': 10, 'reviewer': 'Miguel'}, {'name': 'Natalia Roberts', 'DAPS_assignment': 1, 'reviewer': 'Laura'}, {'name': 'Andrew Peterson', 'DAPS_assignment': 4, 'reviewer': 'Miguel'}, {'name': 'Alex Palmer', 'DAPS_assignment': 8, 'reviewer': 'Miguel'}, {'name': 'Natalia Turner', 'DAPS_assignment': 7, 'reviewer': 'Miguel'}, {'name': 'Nick Adams', 'DAPS_assignment': 3, 'reviewer': 'Miguel'}, {'name': 'Andrew Baker', 'DAPS_assignment': 5, 'reviewer': 'Laura'}]



**_[TO DO]_**: Upload this database using `insert_one` or `insert_many` command.

In [45]:
# Create a database object called “students”
db = client.students

In [46]:
###########################
# Task: 
#   upload this database using insert_one or insert_many command
#
###########################


### TO DO
# Create collection called daps2020 in students
col = db.daps2020

# use .insert_many() to add multiple documents to the collection
result = col.insert_many(student)
result.inserted_ids
#print(client.list_database_names())
#########

[ObjectId('617ad731cc5cbf0954d1fdd7'),
 ObjectId('617ad731cc5cbf0954d1fdd8'),
 ObjectId('617ad731cc5cbf0954d1fdd9'),
 ObjectId('617ad731cc5cbf0954d1fdda'),
 ObjectId('617ad731cc5cbf0954d1fddb'),
 ObjectId('617ad731cc5cbf0954d1fddc'),
 ObjectId('617ad731cc5cbf0954d1fddd'),
 ObjectId('617ad731cc5cbf0954d1fdde'),
 ObjectId('617ad731cc5cbf0954d1fddf'),
 ObjectId('617ad731cc5cbf0954d1fde0'),
 ObjectId('617ad731cc5cbf0954d1fde1'),
 ObjectId('617ad731cc5cbf0954d1fde2'),
 ObjectId('617ad731cc5cbf0954d1fde3'),
 ObjectId('617ad731cc5cbf0954d1fde4'),
 ObjectId('617ad731cc5cbf0954d1fde5'),
 ObjectId('617ad731cc5cbf0954d1fde6'),
 ObjectId('617ad731cc5cbf0954d1fde7'),
 ObjectId('617ad731cc5cbf0954d1fde8'),
 ObjectId('617ad731cc5cbf0954d1fde9'),
 ObjectId('617ad731cc5cbf0954d1fdea'),
 ObjectId('617ad731cc5cbf0954d1fdeb'),
 ObjectId('617ad731cc5cbf0954d1fdec'),
 ObjectId('617ad731cc5cbf0954d1fded'),
 ObjectId('617ad731cc5cbf0954d1fdee'),
 ObjectId('617ad731cc5cbf0954d1fdef'),
 ObjectId('617ad731cc5cbf0954d1fdf0'),
 ObjectId('617ad731cc5cbf0954d1fdf1'),
 ObjectId('617ad731cc5cbf0954d1fdf2'),
 ObjectId('617ad731cc5cbf0954d1fdf3')]

## 2.3 - Query a document


**_[TO DO]_** : Find one student with score of 5. You can use the command `find_one`.

In [47]:
###########################
# Task: 
#   find one student with final DAPS_assignment score equal 5
#
###########################


### TO DO

score5 = col.find_one({'DAPS_assignment' : 5})
print(score5)
#########

{'_id': ObjectId('617ad731cc5cbf0954d1fdf3'), 'name': 'Andrew Baker', 'DAPS_assignment': 5, 'reviewer': 'Laura'}


**_[TO DO]_** : Query the database to find the total number of students with score 8 and 3? You can use `aggregation` or `find` command.

In [48]:
###########################
# Task: 
#   Count the total students with final DAPS_assignment score equal to 3 and 8.
#
###########################


### TO DO

i = 0
for x in col.find({"$or":[{"DAPS_assignment":3}, {"DAPS_assignment":8}]},{"_id": 0, "name": 1, "DAPS_assignment": 1, "reviewer": 1}):
    print(x)
    i += 1
    
print(f"\nThere are {i} students with scores 8 and 3")

#########

{'name': 'Mike Palmer', 'DAPS_assignment': 8}
{'name': 'Maria Armstrong', 'DAPS_assignment': 3}
{'name': 'Maria Baker', 'DAPS_assignment': 8}
{'name': 'Paul Peterson', 'DAPS_assignment': 8}
{'name': 'Anna Adams', 'DAPS_assignment': 3}
{'name': 'Alex Armstrong', 'DAPS_assignment': 3}
{'name': 'Alex Palmer', 'DAPS_assignment': 8}
{'name': 'Nick Adams', 'DAPS_assignment': 3}

There are 8 students with scores 8 and 3

 Dr. Laura Toni is happy today and she is going to pass all students with final score 4.
 
**_[TO DO]_** : Change the score on all the students with final mark 4 to 5. You can use one of the following commands: `update_one`, `update_many` and `replace_one`.

In [49]:
###########################
# Task: 
#   Adjust the score on all the students with final mark 4 to 5.
#
###########################


### TO DO
myquery = {'DAPS_assignment': 4}
newvalues = {"$set": {"DAPS_assignment": 5}}

update = col.update_many(myquery, newvalues)

for x in col.find({},{"_id": 0, "name": 1, "DAPS_assignment": 1, "reviewer": 1}):
    print(x)

#########

{'name': 'Nick Roberts', 'DAPS_assignment': 7}
{'name': 'Alex Armstrong', 'DAPS_assignment': 7}
{'name': 'Andrew Turner', 'DAPS_assignment': 1}
{'name': 'Mike Palmer', 'DAPS_assignment': 8}
{'name': 'Maria Palmer', 'DAPS_assignment': 9}
{'name': 'Maria Armstrong', 'DAPS_assignment': 3}
{'name': 'Maria Baker', 'DAPS_assignment': 8}
{'name': 'George Palmer', 'DAPS_assignment': 6}
{'name': 'Anna Palmer', 'DAPS_assignment': 7}
{'name': 'Maria Peterson', 'DAPS_assignment': 7}
{'name': 'Nick Roberts', 'DAPS_assignment': 5}
{'name': 'Natalia Peterson', 'DAPS_assignment': 10}
{'name': 'Anna Adams', 'DAPS_assignment': 10}
{'name': 'Nick Turner', 'DAPS_assignment': 5}
{'name': 'Paul Peterson', 'DAPS_assignment': 8}
{'name': 'Anna Adams', 'DAPS_assignment': 3}
{'name': 'Mike Adams', 'DAPS_assignment': 2}
{'name': 'Nick Turner', 'DAPS_assignment': 7}
{'name': 'Paul Palmer', 'DAPS_assignment': 5}
{'name': 'Alex Armstrong', 'DAPS_assignment': 3}
{'name': 'Paul Palmer', 'DAPS_assignment': 6}
{'name': 'George Baker', 'DAPS_assignment': 7}
{'name': 'Ellie Palmer', 'DAPS_assignment': 10}
{'name': 'Natalia Roberts', 'DAPS_assignment': 1}
{'name': 'Andrew Peterson', 'DAPS_assignment': 5}
{'name': 'Alex Palmer', 'DAPS_assignment': 8}
{'name': 'Natalia Turner', 'DAPS_assignment': 7}
{'name': 'Nick Adams', 'DAPS_assignment': 3}
{'name': 'Andrew Baker', 'DAPS_assignment': 5}

That was an unfair move!

**_[TO DO]_** : Let's delete all the documents that Dr. Laura Toni marked!

In [50]:
###########################
# Task: 
#   Delete all documents with `reviewer:Laura`.
#
###########################


### TO DO

myquery = {'reviewer': 'Laura'}

x = col.delete_many(myquery)

print(x.deleted_count, "documents deleted.")

#########

11 documents deleted.

In [51]:
for x in col.find({},{"_id": 0, "name": 1, "DAPS_assignment": 1, "reviewer": 1}):
    print(x)

{'name': 'Nick Roberts', 'DAPS_assignment': 7, 'reviewer': 'Miguel'}
{'name': 'Alex Armstrong', 'DAPS_assignment': 7, 'reviewer': 'Miguel'}
{'name': 'Mike Palmer', 'DAPS_assignment': 8, 'reviewer': 'Miguel'}
{'name': 'Maria Armstrong', 'DAPS_assignment': 3, 'reviewer': 'Miguel'}
{'name': 'Maria Baker', 'DAPS_assignment': 8, 'reviewer': 'Miguel'}
{'name': 'George Palmer', 'DAPS_assignment': 6, 'reviewer': 'Miguel'}
{'name': 'Maria Peterson', 'DAPS_assignment': 7, 'reviewer': 'Miguel'}
{'name': 'Natalia Peterson', 'DAPS_assignment': 10, 'reviewer': 'Miguel'}
{'name': 'Anna Adams', 'DAPS_assignment': 10, 'reviewer': 'Miguel'}
{'name': 'Nick Turner', 'DAPS_assignment': 5, 'reviewer': 'Miguel'}
{'name': 'Paul Peterson', 'DAPS_assignment': 8, 'reviewer': 'Miguel'}
{'name': 'Paul Palmer', 'DAPS_assignment': 5, 'reviewer': 'Miguel'}
{'name': 'George Baker', 'DAPS_assignment': 7, 'reviewer': 'Miguel'}
{'name': 'Ellie Palmer', 'DAPS_assignment': 10, 'reviewer': 'Miguel'}
{'name': 'Andrew Peterson', 'DAPS_assignment': 5, 'reviewer': 'Miguel'}
{'name': 'Alex Palmer', 'DAPS_assignment': 8, 'reviewer': 'Miguel'}
{'name': 'Natalia Turner', 'DAPS_assignment': 7, 'reviewer': 'Miguel'}
{'name': 'Nick Adams', 'DAPS_assignment': 3, 'reviewer': 'Miguel'}

GOOD JOB! You finished the tasks!


You might be asking yourself now: Why and when a non-elational database is useful? MongoDB allows storing data in documents. This is very useful when you have a lot of many-to-many relationships. Other advantages include:
- it enables the fast development of applications, 
- it supports highly diverse data types, 
- and allows efficient interations with applications at scale.
Read more here: https://www.mongodb.com/compare/mongodb-mysql 


You can learn more about developing MongoDB-based applications here:
- https://university.mongodb.com/courses/M121/about?jmp=M101Pap
- https://university.mongodb.com/courses/M220P/about?jmp=M101Pap
- https://university.mongodb.com/courses/M320/about?jmp=M101Pap